{% extends "_shared/base.twig" %}

{% set data = craft.entries().slug(entry.slug).one() %}

{% block baseTitle %}{{ data.title }}{% endblock %}

{% block baseBody %}

    {% for contentBlock in data.contentBlocks.all() %}

        {% switch contentBlock.type %}
        {% case "text" %}
            <div class="row">
                <div class="col-sm">
                    {{ contentBlock.text|markdown }}
                </div>
            </div>

        {% case "image" %}
            {% if contentBlock.image|length %}
                {{ contentBlock.image[0].getImg('galleryFullsize') }}
            {% endif %}

        {% case "imageGallery" %}
            {% set gallery = contentBlock.imageGallery.all() %}
            {% for img in gallery %}
                <a href="{{ img.getUrl('galleryFullsize') }}" target="_blank"><img
                            src="{{ img.getUrl('galleryThumbnail') }}" width="125" height="125" alt=""></a>
            {% endfor %}

        {% default %}
            <div class="alert alert-danger">{{ contentBlock.type }} :: BLOCK TEMPLATE NOT FOUND</div>
        {% endswitch %}


    {% endfor %}
    
{% endblock %}