{% extends "shared/base.twig" %}

{# Get the requested playlist slug from the URL #}
{% set requestedSlug = craft.app.request.getSegment(2) %}

{# Fetch the playlist with that slug #}
{% set playlist = craft.entries().slug(requestedSlug|literal).one() %}


{% block title %}
    {% if playlist %}
        {{ playlist.title }}
    {% else %}
        Not Found
    {% endif %}
{% endblock %}

{% block body %}

    <div class="row mt-5">
        <div class="col-sm">
            {% if playlist.keyvisual|length %}
            {% set hero = playlist.keyvisual[0] %}
            <div class="jumbotron text-white"
                 style="background: url({{ hero.getUrl('heroImage') }}) no-repeat center center; background-size: cover;">
            {% else %}
            <div class="jumbotron">
                {% endif %}
                <h1 class="display-4">Craft Entry::Playlist</h1>
                <p class="lead">This page is an example of an playlist entry type.</p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        {% if playlist %}
            <div class="col-sm-4">
                <small>{{ playlist.title }} - Playlist</small>
                <h1>{{ playlist.headline }}</h1>
                <p>{{ playlist.text|nl2br }}</p>
            </div>
            <div class="col-sm-8">
                {% autoescape %}
                    <div class="text-center">
                        {{ playlist.embedCode|raw }}
                    </div>
                {% endautoescape %}
            </div>
        {% else %}
            <div class="col-sm text-center">
                Not Found
            </div>
        {% endif %}
    </div>
{% endblock %}