{% extends "shared/base.twig" %}

{# Get the requested playlist slug from the URL #}
{% set requestedSlug = craft.app.request.getSegment(2) %}

{# Fetch the playlist with that slug #}
{% set playlist = craft.entries().slug(requestedSlug|literal).one() %}


{% block title %}
    {% if playlist %}
        {{ playlist.title }}
    {% else %}
        Not Found
    {% endif %}
{% endblock %}

{% block body %}

    <div class="row mt-5">
        <div class="col-sm">
            {% if playlist %}
                <small>{{ playlist.title }} - Playlist</small>
                <h1>{{ playlist.headline }}</h1>

                <p>{{ playlist.text|nl2br }}</p>
                {% autoescape %}
                    <div class="text-center">
                        {{ playlist.embedCode|raw }}
                    </div>
                {% endautoescape %}
            {% else %}
                Not Found
            {% endif %}
        </div>
    </div>
{% endblock %}