{% extends "shared/base.twig" %}

{% block title %}
    Playlists
{% endblock %}

{% block body %}
    {# Create an entry query with the 'section' and 'limit' parameters #}
    {% set myEntryQuery = craft.entries().section('playlist').limit(10) %}

    {# Fetch the entries #}
    {% set entries = myEntryQuery.all() %}

    <div class="row mt-5">
    <div class="col-sm">
        {% set menu = craft.entries().section('menu').slug('playlists').one() %}
        {% if menu.keyvisual|length %}
        {% set hero = menu.keyvisual[0] %}
        <div class="jumbotron text-white"
             style="background: url({{ hero.getUrl('heroImage') }}) no-repeat center center; background-size: cover;">
            {% else %}
            <div class="jumbotron">
                {% endif %}
                <h1 class="display-4">Craft Channel Entries</h1>
                <p class="lead">This page is an example of custom routes and channel entries.</p>
            </div>

        </div>
    </div>

    <div class="row mt-5">
        {# Display the entries #}
        {% for entry in entries %}
            <div class="col-sm-4">
                <div class="card text-center mb-4">
                    {% if entry.keyvisual|length %}
                        {% set image = entry.keyvisual[0] %}
                        <img class="card-img-top" src="{{ image.getUrl('cropCenter') }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ entry.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Playlist</h6>
                        <p class="card-text">{{ entry.text }}</p>
                        <a href="{{ entry.url }}" class="btn btn-secondary">Open Playlist</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}