{# Create a global set query with the 'handle' and 'siteId' parameters #}
{% set globalSet = craft.globalSets().handle('websiteSettings').one() %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>{% block baseTitle %}{% endblock %} :: {{ globalSet.websiteTitle }}</title>

</head>
<body>
<header class="bg-dark">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="/">playlist<strong>Box</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        {% set mainNav = craft.entries({
                            'section': 'navigation',
                            'type': 'navigationMain',
                            'level': '1',
                            'navigationExclude': false
                        }).all() %}

                        {% nav item in mainNav %}
                            {% if not item.children|length %}
                                <li class="nav-item">
                                    {% if item.navigationRelatedEntry|length %}
                                        {% set rItem = item.navigationRelatedEntry.one() %}
                                        <a class="nav-item nav-link" href="{{ rItem.getUrl() }}">{{ item.navigationName }}</a>
                                    {% else %}
                                        <a class="nav-item nav-link" href="{{ item.navigationUrl }}">{{ item.navigationName }}</a>
                                    {% endif %}

                                </li>
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{ item.navigationUrl }}"
                                       id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        {{ item.navigationGroupName }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        {% if item.navigationRelatedEntry|length %}
                                            {% set rItem = item.navigationRelatedEntry.one() %}
                                            <a class="dropdown-item" href="{{ rItem.getUrl() }}">{{ item.navigationName }}</a>
                                        {% else %}
                                            <a class="dropdown-item" href="{{ item.navigationUrl }}">{{ item.navigationName }}</a>
                                        {% endif %}

                                        <div class="dropdown-divider"></div>

                                        {% set childs = item.children.all() %}
                                        {% for child in childs %}
                                            {% if child.navigationRelatedEntry|length %}
                                                {% set rItem = child.navigationRelatedEntry.one() %}
                                                <a class="dropdown-item" href="{{ rItem.getUrl() }}">{{ child.navigationName }}</a>
                                            {% else %}
                                                <a class="dropdown-item" href="{{ child.navigationUrl }}">{{ child.navigationName }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endnav %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<div class="container">
    {% block baseBody %}{% endblock %}
</div>

<footer class="mt-5">
    <div class="container">
        <div class="row text-muted">
            <div class="col-sm-6">
                <small>&copy; Copyright {{ "now"|date("Y") }} by Marco Senkpiel</small>
            </div>
            <div class="col-sm-6 text-right">
                {% set footerNav = craft.entries({
                    'section': 'navigation',
                    'type': 'navigationFooter',
                    'level': '1',
                    'navigationExclude': false
                }).all() %}
                <small>
                    {% nav item in footerNav %}
                        {% if item.navigationRelatedEntry|length %}
                            {% set rItem = item.navigationRelatedEntry.one() %}
                            <a href="{{ rItem.getUrl() }}">{{ item.navigationName }}</a>
                        {% else %}
                            <a href="{{ item.navigationUrl }}">{{ item.navigationName }}</a>
                        {% endif %}
                    {% endnav %}
                </small>
            </div>
        </div>
    </div>
</footer>
</body>
</html>